body{
    background: url(img/faded-office.png);
    background-size: cover;
    padding: 30px 100px;
    font-family: 'open sans';
}
.top{
    font-size: 80px;
    width: 450px;
}
.txt{
    display: block;
    font-size: 35px;
    color: #020202;
    width: 450px;
    font-weight: 100;
}
.btn{
    display: block;
    color: white;
    background-color: #0ea5e9;
    font-size:30px;
    padding: 20px 30px;
    
}
.link{
    border-bottom: 5px solid #0ea5e9;
    text-decoration: none;
    color: #020202;
}