body{
background: url(img/faded-office.png);
background-size: cover;
height: auto;
}
.top{
    font-weight: 150px;
    font-size: 70px;
}
.txt{
    display: block;
    font-weight: 150;
    font-size: 30px;
    font: #020202;
}
.btn{
    display: block;
    color: black;
    background-color: #0ea5e9;
    border: 1px;
    font-size: 35px;
    padding: 10px;
    margin: 450px 40px;
    
}
.link{
    font-display: block;
    border-bottom: 5px solid black;
    font-size: 35px;   
}